
div 
    button.text-white.font-small.rounded-lg.text-center(class="sm:w-full md:w-1/4 content-center mb-3  inline-block bg-indigo-400 hover:bg-indigo-700 text-white font-bold py-3 cursor-pointer rounded-lg text-center" type='button' data-modal-toggle='defaultModal')
        | Agregar Nuevo Usuario
    // Main modal
    #defaultModal.hidden.overflow-y-auto.overflow-x-hidden.fixed.top-0.right-0.left-0.z-50.p-4.w-full.h-modal(tabindex='-1' aria-hidden='true' class='md:inset-0 md:h-full')
        .relative.w-full.max-w-2xl.h-full(class='md:h-auto')
            // Modal content
            .relative.bg-white.rounded-lg.shadow(class='dark:bg-white-700')
                // Modal header
                .flex.justify-between.items-start.p-4.rounded-t.border-b(class='dark:border-gray-600')
                    a.text-gray-400.bg-transparent.rounded-lg.text-sm.ml-auto.inline-flex.items-center(type='button' class='hover:bg-gray-200 hover:text-gray-900 p-1.5 dark:hover:bg-gray-600 dark:hover:text-white' data-modal-toggle='defaultModal')
                        svg.w-5.h-5(aria-hidden='true' fill='currentColor' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg')
                            path(fill-rule='evenodd' d='M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z' clip-rule='evenodd')
                        span.sr-only Close modal
                // Modal body
                div
                .p-6.space-y-6
                    form.form.space-y-8
                        div.space-y-5.t
                            h3.text-lg.leading-6.font-medium.text-gray-900.text-center Informacion general del usuario
                            div(class="md:flex md:gap-4 space-y-2 md:space-y-0")
                                div(class="md:w-1/2")
                                    label.block.text-sm.uppercase.text-gray-400.mb-2.ml-2.font-bold(for="fullName") Nombre
                                    input#fullName.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-500(placeholder="Nombre" type="text" name="fullName")
                                div(class="md:w-1/2")
                                    label.block.text-sm.uppercase.text-gray-400.mb-2.ml-2.font-bold(for="email") Email
                                    input#email.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-500(placeholder="Correo Electrónico " type="email" name="email")
                            div(class="md:flex md:gap-4 space-y-2 md:space-y-0")
                                div(class="md:w-1/2")
                                    label.block.text-sm.uppercase.text-gray-400.mb-2.ml-2.font-bold(for="phone") teléfono
                                    input#phone.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-500(placeholder="Teléfono" type="number" name="phone" min="1")
                                div(class="md:w-1/2")
                                    label.block.text-sm.uppercase.text-gray-400.mb-2.ml-2.font-bold(for="dni") Identificacion
                                    input#dni.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-500(placeholder="Identidad Sin Guiones" type="number" name="dni" min="1")
                            div(class="md:flex md:gap-4 space-y-2 md:space-y-0")
                                div(class="md:w-full")
                                    label.block.text-sm.uppercase.text-gray-400.mb-2.ml-2.font-bold.text-center(for="address") Dirección
                                    input#address.w-full.px-8.py-10.border.border-gray-300.rounded-md.placeholder-gray-500(placeholder="Dirección del inquilino" type="text" name="address")
                // Modal footer
                .p-6.space-x-2.rounded-b.border-t.border-gray-200(class='dark:border-gray-300 flex justify-center')
                    button#coco(class="w-1/4 bg-indigo-400 hover:bg-indigo-700 text-white font-bold py-3 cursor-pointer rounded-lg text-center" type="submit" ) Guardar Usuario
                    a(href="/admin" class=" w-1/4 bg-red-400 hover:bg-red-700 text-white font-bold py-3 cursor-pointer rounded-lg text-center" ) Cancelar