extends ../layout/index

block contenido
    div(class="bg-gray-200 shadow py-4 px-auto rounded mx-auto max-w-4xl my-10 md:px-10")
        h2(class="text-black text-center text-lg font-bold space-x-3") <i class="fa-solid fa-user"></i>  Perfil del administrador




