extends ../layout/index

block contenido
    div(class="bg-gray-200 shadow py-4 px-auto rounded mx-auto max-w-4xl my-10 md:px-10")
        h2(class="text-black text-center text-lg font-bold space-x-3") <i class="fa-solid fa-user"></i>  Perfil del administrador


    div(class="bg-white shadow py-8 px-4 rounded mx-auto max-w-4xl my-10 md:px-10")
        div.space-y-5



            div(class="md:flex md:gap-4 space-y-2 md:space-y-0")
                div(class="md:w-1/2")
                    label.block.text-sm.uppercase.text-gray-400.mb-2.ml-2.font-bold(for="fullName") Nombre: #{name}

                div(class="md:w-1/2")
                    label.block.text-sm.uppercase.text-gray-400.mb-2.ml-2.font-bold(for="email") Email

            div(class="md:flex md:gap-4 space-y-2 md:space-y-0")
                div(class="md:w-1/2")
                    label.block.text-sm.uppercase.text-gray-400.mb-2.ml-2.font-bold(for="phone") Teléfono
                div(class="md:w-1/2")
                    label.block.text-sm.uppercase.text-gray-400.mb-2.ml-2.font-bold(for="neighborhood") Colonia









